@import-normalize;

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

a,
button {
  display: block;
  background: none;
  border: none;
}

svg {
  display: block;
  height: 1em;
  width: 1em;
}

@keyframes sale {
  0% {
    color: red;
  }
  30% {
    color: green;
  }
  70% {
    color: blue;
  }
}

.content {
  min-height: 100vh;
}

.card-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.sidebar {
  position: sticky;
  top: 0;
  left: 0;
}

.pagination {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #fff;
  border-top: 1px solid #000;
}

.nav-btn {
  margin-left: -10px;
  text-align: left;
}
